/* Sitewide styles for CiviForm. */

@import "../../node_modules/@cagov/ds-base-css/src/themes/_cagov.scss";

/* Component styles */
@import "../../node_modules/@cagov/ds-feature-card/src/index.scss";
@import "../../node_modules/@cagov/ds-site-footer/src/index.scss";
@import "../../node_modules/@cagov/ds-site-header/src/index.scss";
@import "../../node_modules/@cagov/ds-site-navigation/src/index.scss";
@import "../../node_modules/@cagov/ds-step-list/src/index.scss";

/* Custom styles */

/* Set logo size on desktop */
.grid-logo img {
  max-height: 110px;
}
/* Set logo height on mobile */
@media (max-width: $mobile) {
  .grid-logo img {
    max-height: 75px;
  }
}

/* Extend hero text sizing and padding on desktop. */
@media (min-width: $desktop) {
  .cagov-featured-sidebar {
    max-width: 55%;
    /* Equivalent to .p-t-5, but you cannot @extend in a media query. */
    padding-top: var(--s-5, 3rem) !important;
  }
}

.applicant-image {
  object-fit: contain;
}

/* Homepage text spacing */
.cagov-hero-body-content {
  @extend .p-t-1;
}

.cagov-hero-body-content a.btn-primary {
  @extend .m-t-1;
}

/* Styles for feature cards on homepage. */
.cagov-card {
  border: 2px solid;
  border-color: var(--primary-900);
  border-radius: 20px;
}

.cagov-card h4 {
  @extend .p-t-2;
  @extend .p-l-2;
  color: var(--primary-900);
}

.cagov-card p {
  @extend .p-a-2;
}

/* Show the first portion of the contact form on mobile. */
@media (max-width: $mobile) {
  .contact-form {
    min-height: 360px;
    /* Equivalent to .m-b-3, but you cannot @extend in a media query. */
    margin-bottom: var(--s-3, 1.5rem) !important;
  }
}

/* Make the cagov-step-list component lines blue. */
.cagov-step-list li {
  border-left: 5px solid var(--primary-900);
}
.cagov-step-list li:before {
  border: 5px solid var(--primary-900);
}

/* Make features titles show above feature descriptions on mobile. */
@media (max-width: $desktop) {
  .cagov-with-sidebar.cagov-no-reverse > * {
    flex-direction: column;
  }
}

/* Features overview text alignment and layout */
@media (min-width: $desktop) {
  .features-overview .cagov-featured-sidebar {
    width: 40%;
    /* Equivalent to .p-t-5, but you cannot @extend in a media query. */
    padding-top: 0 !important;
  }
}

/* Semi-bold text for key user descriptions. */
.features-overview .cagov-hero-body-content {
  font-weight: var(--font-weight-5, 500);
}

/* Make the accordion title text approximately h4 with custom padding. */
cagov-accordion details summary {
  font-size: var(--font-size-4) !important;
  padding-top: var(--s-2) !important;
  padding-bottom: var(--s-2) !important;
  font-weight: var(--font-weight-7, 700) !important;
}

/* Embedded Google Slides on About page. */
.slides-embed {
  position: relative;
  padding-bottom: 60.6%; /* Just eyeballed to remove black bars. */
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

/* Set embedding dimension on mobile */
@media (max-width: $mobile) {
  .slides-embed {
    padding-bottom: 64%; /* Just eyeballed to remove black bars. */
  }
}

.slides-embed iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Size gov images */
.gov-image {
  width: auto;
  max-height: 200px;
  text-align: center;
  @extend .m-x-a;
  @extend .p-y-2;
  @extend .p-x-2;
}

.gov-image img,
figure {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.gov-image-ar img {
  object-fit: scale-down;
}

/* Move the URLs closer to the logos */
@media (min-width: $desktop) {
  .gov-image figcaption {
    margin-top: -12px;
  }
}

.info-box {
  padding: 8px 16px;
  width: 100%;
  min-height: 46px;
  height: auto;
  background: rgba(112, 224, 255, 0.281);
  border: 1px solid blue;
  border-radius: 5px;
  margin: 15px 0px;
}

/* Remove link highlighting from info box. */
.info-box > * {
  background-color: transparent;
}

.news-image {
  object-fit: scale-down;
}

@media (min-width: $mobile) {
  .news-feature .cagov-featured-sidebar {
    padding-right: 30px;
  }
}

@media (max-width: $mobile) {
  .news-feature h3 {
    margin-top: 20px;
  }
}
