/* Sitewide styles for CiviForm. */

@import "../../node_modules/@cagov/ds-base-css/src/themes/_cagov.scss";


/* Component styles */
@import '../../node_modules/@cagov/ds-feature-card/src/index.scss';
@import '../../node_modules/@cagov/ds-site-footer/src/index.scss';
@import '../../node_modules/@cagov/ds-site-header/src/index.scss';
@import '../../node_modules/@cagov/ds-site-navigation/src/index.scss';


/* Custom styles */

/* Set logo size on desktop */
.grid-logo img {
  max-height: 110px;
}
/* Set logo height on mobile */
@media (max-width: $mobile) {
  .grid-logo img {
    max-height: 75px;
  }
}

/* Extend hero text sizing and padding on desktop. */
@media (min-width: $desktop) {
  .cagov-featured-sidebar {
    max-width: 55%;
    /* Equivalent to .p-t-5, but you cannot @extend in a media query. */
    padding-top: var(--s-5, 3rem) !important;
  }
}

.applicant-image {
  object-fit:  contain;
}

/* Homepage text spacing */
.cagov-hero-body-content {
  @extend .p-t-1;
}

.cagov-hero-body-content a.btn-primary {
  @extend .m-t-1;
}


/* Styles for feature cards on homepage. */
.cagov-card {
  border: 2px solid;
  border-color: var(--primary-900);
  border-radius: 20px;
}

.cagov-card h4 {
  @extend .p-t-2;
  @extend .p-l-2;
  color: var(--primary-900);
}

.cagov-card p {
  @extend .p-a-2;
}
