<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="icon"  type="image/png" href="/favicon.png">
    <script type="module" src="/js/index.js"></script>
    <title>{{title}}</title>
  </head>
  <body>
    {% block header %}
      {% include "layouts/header.njk" %}
    {% endblock %}

    {% block navigation %}
      {% include "layouts/navigation.njk" %}
    {% endblock %}

    {% block content %}
      {{content | safe}}
    {% endblock %}

    {% block footer %}
      {% include "layouts/footer.njk" %}
    {% endblock %}
  </body>
</html>
