<div class="site-header">
  <div class="container with-logo">
    <a href="/" class="grid-logo" aria-label="CiviForm home">
      <img alt="CiviForm logo" src="/img/civiform-logo.png">
    </a>
  </div>
</div>
