<div class="site-header">
  <div class="container with-logo">
    <a href="/" class="grid-logo" aria-label="CiviForm home">
      <img alt="CiviForm logo" src="/img/civiform-logo.png">
    </a>

    <!-- Everything below here is boilerplate to support navigation markup defined in nagivation.njk -->

    {% block menu_mobile_icons %}
      {% include "layouts/menu-mobile-icons.njk" %}
    {% endblock %}

    <!-- Embed desktop search form boilerplate. -->
    {% block search_desktop %}
      {% include "layouts/search-desktop.njk" %}
    {% endblock %}
  </div>
</div>
