<cagov-site-navigation>
  <div class="container">

    <!-- We are not using search (yet), but we must include the class regardless. -->
    <div class="search-container search-container--small hidden-search"></div>

    <!-- Navigation menu items. -->
    <nav class="expanded-menu" role="navigation" aria-label="Site Navigation" aria-hidden="false" id="main-menu">
      <div class="expanded-menu-grid">

        <div class="expanded-menu-section mobile-only">
          <strong class="expanded-menu-section-header">
            <a class="expanded-menu-section-header-link js-event-hm-menu" href="/">Home</a>
          </strong>
        </div>

        <div class="expanded-menu-col js-cagov-navoverlay-expandable">
          <div class="expanded-menu-section">
            <strong class="expanded-menu-section-header"><a class="expanded-menu-section-header-link js-event-hm-menu" href="/">About</a></strong>
          </div>
        </div>

        <div class="expanded-menu-col js-cagov-navoverlay-expandable">
          <div class="expanded-menu-section">
            <strong class="expanded-menu-section-header"><a class="expanded-menu-section-header-link js-event-hm-menu" href="https://docs.civiform.us">Docs</a></strong>
          </div>
        </div>

        <div class="expanded-menu-col js-cagov-navoverlay-expandable">
          <div class="expanded-menu-section">
            <strong class="expanded-menu-section-header"><a class="expanded-menu-section-header-link js-event-hm-menu" href="/">Contact</a></strong>
          </div>
        </div>

      </div>
    </nav>
  </div>
</cagov-site-navigation>
