<div
  class="news-feature cagov-with-sidebar cagov-with-sidebar-left cagov-featured-section cagov-block"
>
  <div>
    <div class="cagov-stack cagov-featured-sidebar">
      <h3>{{story.Title}}</h3>
      <div class="cagov-hero-body-content">
        <p><strong>{{story.Date | textDate}}</strong></p>
        <p>{{story.Description}}</p>
        <a href="{{story.URL}}" target="_blank" class="btn-primary m-t-1">
          Read more
        </a>
      </div>
    </div>
    <div>
      <img class="news-image cagov-featured-image" src="/img/{{story.Image}}" />
    </div>
  </div>
</div>
<hr
  style="
    width: 100%;
    margin: auto;
    margin-bottom: 50px;
    border-width: 1px;
    color: darkslategray;
  "
/>
